{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Store - Landing Page 
{% endblock title %}
{% block content %}
<div class="container">
    <div class="heading">
        <h2 class="title">{% trans 'Customer Details' %}</h2>
        <h5 class="text">{% trans 'Please enter the customer details' %}</h5>
    </div>
    <div class="">
        <form action="#">
            <input type="search" class="input-field" name="code" id="code">
            {% if customer %}
            customer already exist
            {% else %}
            <label for="{{form.name.id_for_label}}">{% trans 'Full Name' %}</label>
            {{form.name}}
            <label for="{{form.phone.id_for_label}}">{% trans 'Phone' %}</label>
            {{form.phone}}
            <label for="{{form.address.id_for_label}}">{% trans 'Address' %}</label>
            {{form.address}}
            {% endif %}
            <button class="btn btn-gray">{% trans 'Search' %}</button>
        </form>
    </div>
 
<script src="{% static 'js/cart.js' %}"></script>
{% endblock content%}
