{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Store - Landing Page 
{% endblock title %}
{% block content %}
<div class="container">
    <div class="heading">
        <p class="title">{% trans 'Products' %}</p>
        <p class="text">{% trans 'This page showcases all available products for sale' %}</p>
    </div>
    <div class="block-content">
        <div class="search-box">
            <input 
            type="search" 
            class="search-input"
            placeholder="{% trans 'Search the products' %}">
        </div>
        <div class="table-holder">
            <div class="category-filter">
                <span>{% trans 'category' %}:</span>
                <a href="#" class="btn btn-link">{% trans 'ALL' %}</a>
                {% for category in categories %}
                <a href="#" class="btn btn-link">{{category.name}}</a>
                {% endfor %}
            </div>
            <table class="table-hover" id="product-table">
                <thead>
                    <th>{% trans 'Image' %}</th>
                    <th style="width:200px">{% trans 'Name' %}</th>
                    <th>{% trans 'Quantity' %}</th>
                    <th>{% trans 'Package' %}</th>
                    <th>{% trans 'Item Price' %}</th>
                    <th>{% trans 'Package Price' %}</th>
                    <th>{% trans 'Action' %}</th>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr data-product-id={{item.id}}>
                        <td>
                            <img src="{{item.image.url}}" alt="image" class="tr-image">
                        </td>
                        <td style="width:200px">{{item.name}}</td>
                        <td>
                            <select name="quantity" class="select-input item-quantity">
                                <option value="" selected>{% trans '--select--' %}</option>
                                {% for i in item.package_contain|range_filter %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="package" class="select-input package-quantity">
                                <option value="" selected>{% trans '--select--' %}</option>
                                {% for i in item.package_contain|range_filter %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" class="table-input item-price"value={{ item.item_sale_price|default:"" }}></td>
                        <td><input type="number" class="table-input package-price"value={{item.package_sale_price|default:""}}></td>
                       
                        <td><button class="btn btn-teal add-btn">{% trans 'ADD' %}</button></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.getElementById("product-table");
        table.addEventListener("click", function(e) {
            if (e.target && e.target.classList.contains("add-btn")) {
                const row = e.target.closest("tr");
                let product_id = row.dataset.productId;
                let item_quantity = row.querySelector(".item-quantity").value;
                let package_quantity = row.querySelector(".package-quantity").value;
                let package_price = row.querySelector(".package-price").value;
                let item_price = row.querySelector(".item-price").value;
                
                const data = {
                    product_id,
                    item_quantity,
                    package_quantity,
                    item_price,
                    package_price,
                }
                fetch("{% url 'add-to-cart' %}",
                {
                    method: 'POST',
                    headers: {
                        "Content-Type": "applicaton/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    body: JSON.stringify(data) 
                }).then(res => res.json())
                .then(response =>{
                    console.log(`${response.cart_length} Product added`);
                    document.getElementById("cart_length").innerText = response.cart_length;
                }).catch(error =>{
                    console.log(`Server Error: ${error}`);
                    alert("Failed to Add the Product.");
                })
            }
        });
    });
</script>
{% endblock content%}
