{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Store - Landing Page 
{% endblock title %}
{% block content %}
<div class="container">
    <div class="heading">
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
            <div>
                <p class="title">{% trans 'Products' %}</p>
                <p class="text">{% trans 'This page showcases all available products for sale' %}</p>
            </div>
            <div class="">
                <a href="{% url 'scanner-view' %}" class="btn btn-teal" style="display: flex; align-items: center; gap: 5px; width: fit-content;">
                    <img src="{% static 'image/scanner.svg' %}"  width="14" height="14" alt="">
                    {% trans 'Use Barcode Scanner' %}
                </a>
            </div>
        </div>
    </div>
    
    <div class="block-content">
        <form action="{% url 'search-products' %}" method="get" >
            {% csrf_token %}
            <div class="search-box">
                <input 
                    type="search"
                    name="search"
                    class="search-input"
                    placeholder="{% trans 'Search product by its name of category' %}"
                    value="{{ request.GET.search|default_if_none:'' }}"
                    hx-get="{% url 'search-products' %}" 
                    hx-trigger="keyup changed delay:300ms" 
                    hx-target="#search-list"  
                    >
            </div>
        </form>
        <div class="table-holder">
            <div class="category-filter">
                <p>{% trans 'Cart' %}: {{customer}}</p>
                <span>{% trans 'category' %}:</span>
                <a href="{{request.path}}" class="btn btn-link">{% trans 'ALL' %}</a>
                {% for category in categories %}
                <a href="{{request.path}}?category={{category.name}}" class="btn btn-link">{{category.name}}</a>
                {% endfor %}
            </div>
            <table class="table-hover" id="product-table">
                <thead>
                    <th>{% trans 'Image' %}</th>
                    <th style="width:200px">{% trans 'Name' %}</th>
                    <th>{% trans 'Quantity' %}</th>
                    <th>{% trans 'Package' %}</th>
                    <th>{% trans 'Item Price' %}</th>
                    <th>{% trans 'Package Price' %}</th>
                    <th>{% trans 'Action' %}</th>
                </thead>
                <tbody id="search-list">
                    {% for item in products %}
                    <tr data-product-id={{item.id}}
                    data-end-point-url={% url 'add-to-cart' %}>
                        <td>
                            <img src="{{item.image.url}}" alt="image" class="tr-image">
                        </td>
                        <td style="width:200px">{{item.name}}</td>
                        <td>
                            <select name="quantity" {% if item.num_of_packages <= 0 %}disabled{% endif %} class="select-input item-quantity">
                                <option value="" selected>{% trans '--select--' %}</option>
                                {% for i in item.package_contain|range_filter %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="package" {% if item.num_of_packages <= 0 %}disabled{% endif %} class="select-input package-quantity">
                                <option value="" selected>{% trans '--select--' %}</option>
                                {% for i in item.num_of_packages|range_filter %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" class="table-input item-price"value={{ item.item_sale_price|default:"" }}></td>
                        <td><input type="number" class="table-input package-price"value={{item.package_sale_price|default:""}}></td>
                       
                        <td><button {% if item.num_of_packages <= 0 %}disabled{% endif %} class="btn btn-teal add-btn">{% trans 'ADD' %}</button></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if customer|length < 1 %}
{% include 'partials/_customer_modal.html' %}
{% endif %}
<div class="sticky-notification not-active" id="sticky-notification">
    <strong id="notification">{{cart_length}}</strong>&nbsp;
    <span>{% trans 'Items added to Customer Cart' %}</span>
</div>
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock content%}
