{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Store - Landing Page 
{% endblock title %}
{% block content %}
<div class="container">
    <div class="heading">
        <p class="title">{% trans 'Products' %}</p>
        <p class="text">{% trans 'This page showcases all available products for sale' %}</p>
    </div>
    <div class="block-content">
        <form action="{% url 'search-products' %}" method="get" >
            {% csrf_token %}
            <div class="search-box">
                <input 
                    type="search"
                    name="search"
                    class="search-input"
                    placeholder="Search products..."
                    value="{{ request.GET.search|default_if_none:'' }}"
                    hx-get="{% url 'search-products' %}" 
                    hx-trigger="keyup changed delay:300ms" 
                    hx-target="#search-list"  
                    >
            </div>
        </form>
        <div class="table-holder">
            <div class="category-filter">
                <p>{% trans 'Cart' %}: {{customer}}</p>
                <span>{% trans 'category' %}:</span>
                <a href="{{request.path}}" class="btn btn-link">{% trans 'ALL' %}</a>
                {% for category in categories %}
                <a href="{{request.path}}?category={{category.name}}" class="btn btn-link">{{category.name}}</a>
                {% endfor %}
            </div>
            <table class="table-hover" id="product-table">
                <thead>
                    <th>{% trans 'Image' %}</th>
                    <th style="width:200px">{% trans 'Name' %}</th>
                    <th>{% trans 'Quantity' %}</th>
                    <th>{% trans 'Package' %}</th>
                    <th>{% trans 'Item Price' %}</th>
                    <th>{% trans 'Package Price' %}</th>
                    <th>{% trans 'Action' %}</th>
                </thead>
                <tbody id="search-list">
                    {% for item in products %}
                    <tr data-product-id={{item.id}}
                    data-end-point-url={% url 'add-to-cart' %}>
                        <td>
                            <img src="{{item.image.url}}" alt="image" class="tr-image">
                        </td>
                        <td style="width:200px">{{item.name}}</td>
                        <td>
                            <select name="quantity" {% if item.num_of_packages <= 0 %}disabled{% endif %} class="select-input item-quantity">
                                <option value="" selected>{% trans '--select--' %}</option>
                                {% for i in item.package_contain|range_filter %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="package" {% if item.num_of_packages <= 0 %}disabled{% endif %} class="select-input package-quantity">
                                <option value="" selected>{% trans '--select--' %}</option>
                                {% for i in item.num_of_packages|range_filter %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" class="table-input item-price"value={{ item.item_sale_price|default:"" }}></td>
                        <td><input type="number" class="table-input package-price"value={{item.package_sale_price|default:""}}></td>
                       
                        <td><button {% if item.num_of_packages <= 0 %}disabled{% endif %} class="btn btn-teal add-btn">{% trans 'ADD' %}</button></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if customer|length < 1 %}
<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            <h2 class="title">{% trans 'Customer Details' %}</h2>
            <h5 class="text">{% trans 'Please enter the customer details' %}</h5>
        </div>
        
        <form action="{% url 'products-view' %}" method='post' id="customer-details-form">
            {% csrf_token %}
            <div style="width: 50%; margin: 0rem auto;">
                <label for="code">{% trans 'Customer Code' %}</label>
                {{form.code}}
                <button type="submit" class="btn btn-gray my-2">{% trans "Search" %}</button>
            </div>
            <div class="horizontal-form modal-body" style="display: none;">
                <div>
                    <label for="{{form.name.id_for_label}}">{% trans 'Full Name' %}</label>
                    {{form.name}}
                </div>
                <div>
                    <label for="{{form.phone.id_for_label}}">{% trans 'Phone' %}</label>
                    {{form.phone}}
                </div>
                <div>
                    <label for="{{form.address.id_for_label}}">{% trans 'Adress' %}</label>
                    {{form.address}}
                </div>
                <button type="submit" class="btn btn-teal">{% trans 'Proceed to Sale' %}</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
<div class="sticky-notification not-active" id="sticky-notification">
    <strong id="notification">{{cart_length}}</strong>&nbsp;
    <span>{% trans 'Items added to Customer Cart' %}</span>
</div>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock content%}
