{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    {% trans 'Products' %}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="heading">
        <h2 class="title">{% trans 'Available Products List' %}</h2>
        <p class="text">{% trans 'Browse through the complete list of products available for purchase. You can view details, pricing, and availability for each item.' %}</p>
        <div class="action-button">
            <a href="{% url 'purchase' %}" class="btn btn-teal add-btn"><i class="fa-solid fa-plus"></i>{% trans 'Purchase' %}</a>
        </div>
    </div>
    {% include 'partials/product_list.html' %}
</div>
{% endblock %}