{% extends '_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Purchase Page' %}
{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="page-title">{% trans 'Purchase Page' %}</h1>
    <form action="{% url 'purchase' %}" method="POST" enctype="multipart/form-data" class="purchase-form">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                <label for="id_category">{% trans 'Category' %}</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="id_code">{% trans 'Code' %}</label>
                {{ form.code }}
            </div>
            <div class="form-group">
                <label for="id_name">{% trans 'Name' %}</label>
                {{ form.name }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="id_package_contain">{% trans 'Package Contain' %}</label>
                {{ form.package_contain }}
            </div>
            <div class="form-group">
                <label for="id_package_purchase_price">{% trans 'Package Purchase Price' %}</label>
                {{ form.package_purchase_price }}
            </div>
            <div class="form-group">
                <label for="id_num_of_packages">{% trans 'Number of Packages' %}</label>
                {{ form.num_of_packages }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="id_package_sale_price">{% trans 'Package Sale Price' %}</label>
                {{ form.package_sale_price }}
            </div>
            <div class="form-group">
                <label for="id_image">{% trans 'Image' %}</label>
                {{ form.image }}
            </div>
            <div class="form-group">
                <label for="id_description">{% trans 'Description' %}</label>
                {{ form.description }}
            </div>
        </div>
        <button type="submit" class="btn-submit">{% trans 'Submit' %}</button>
    </form>
</div>
{% endblock content %}
