{% load static %}
{% load sass_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as current_language %}" dir="{% if current_language == 'fa' %}rtl{% else %}ltr{% endif %}">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% sass_src './styles/style.scss' %}">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <div class="main">
        {% include 'navbar.html' %}
        <div class="message-container">
            {% for message in messages %}
                <div class="{{message.tags}} message-holder">
                    <p class="message-title">
                        {% if message.tags == "success" %}
                            {% trans "Success" %}
                        {% elif message.tags == "error" %}
                            {% trans "Error" %}
                        {% endif %}
                    </p>
                    <p class="message-text">{{message}}</p>
                </div>
            {% endfor %} 
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'footer.html' %}
</body>
</html>