{% load i18n %}
{% load static %}
<div class="footer-container">
    <div class="content">
        <div class="logo-holder">
            <img src="{% static 'image/logo.svg' %}" alt="Logo">
        </div>
        <div class="text">&COPY; 2025 All rights reserved</div>
        <div class="menu">
            <ul>
                <li><a href="#">
                    {% trans 'Home' %}
                </a></li>
                <li><a href="#">
                    {% trans 'Contact us' %}
                </a>
                </li>
                <li><a href="#">
                    {% trans 'About us' %}
                </a></li>
            </ul>
        </div>
    </div>
</div>