{% load i18n %}
{% load static %}
<div class="navbar">
    <div class="nav-link-holder">
        <div class="logo-holder">
            <img src="" alt="Logo">
        </div>
        <ul class="nav-items">
            <li class="nav-link">
                <a href="#">{% trans 'Home' %}</a>
            </li>
            <li class="nav-link">
                <a href="#">{% trans 'Sale' %}</a>
            </li>
            <li class="nav-link">
                <a href="#">{% trans 'Purchase' %}</a>
            </li>
            <li class="nav-link">
                <a href="#">{% trans 'Cart' %}</a>
            </li>
        </ul>
    </div>
</div>