{% extends 'dashboard/dashboard-view.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}
{% block dashboard %}
<div class="sub-container">
    <div class="heading">
        <h1 class="title">{% trans "Store Dashboard" %}</h1>
        <p class="text">{% trans "The Summary Page offers a quick overview of the store’s key metrics, including inventory levels, sales, recent transactions, and pending orders—all in a clear, easy-to-read dashboard." %}</p>
    </div>
    <hr>
    <div class="card-container">
        <!-- Stat Cards -->
        <div class="card">
            <p class="title">{% trans "Today's Sales Amount" %}</p>
            <p class="text">{{ sales_details.total_sale|default:"0" }} {% trans 'AFN' %}</p>
        </div>
        <div class="card emphasis">
            <p class="title">{% trans "Total Paid Amount" %}</p>
            <p class="text">{{ sales_details.total_paid|default:"0" }} {% trans 'AFN' %}</p>
        </div>
        <div class="card">
            <p class="title">{% trans "Total Unpaid Amount" %}</p>
            <p class="text">{{ sales_details.total_unpaid|default:"0" }} {% trans 'AFN' %}</p>
        </div>
        <div class="card">
            <p class="title">{% trans "Today's Customers Count" %}</p>
            <p class="text">{{ sales_details.total_customer|default:"0" }}</p>
        </div>
        <div class="card">
            <p class="title">{% trans "Income" %}</p>
            <p class="text">{{ sales_details.total_unpaid|default:"0" }} {% trans 'AFN' %}</p>
        </div>
        <div class="card">
            <p class="title">{% trans "Expense" %}</p>
            <p class="text">{{ sales_details.total_customer|default:"0" }} {% trans 'AFN' %}</p>
        </div>
    </div>
</div>
{% endblock dashboard %}